# LAS VARIABLE DEFINIDAS AQUI, SON LAS NECESARIAS EN UN ARCHIVO .env PARA EL PROYECTO MVC EJEMPLO
# ESTOS VALORES SON DE EJEMPLO, NO SE CARGAN, DEBES COPIAR ESTE ARCHIVO A .env Y MODIFICARLOS SEGUN TUS NECESIDADES
COMPOSE_PROJECT_NAME=mvc-example

# Base de datos (variables usadas en la aplicacion PHP)
DB_HOST=nombre-del-contenedor-mysql
DB_NAME=nombre-de-la-base-de-datos
DB_USER=nombre-de-usuario
DB_PASSWORD=contraseña-segura

# MySQL (variables usadas en la configuracion de MySQL en docker-compose.yml)
MYSQL_ROOT_PASSWORD=contraseña-del-usuario-root-mysql
MYSQL_DATABASE=nombre-de-la-base-de-datos
MYSQL_USER=nombre-de-usuario
MYSQL_PASSWORD=contraseña-segura

# Entorno (variables usadas en la aplicacion PHP)
APP_ENV=development
APP_DEBUG=true
